{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{deps, [
    lager,
    gen_fsm_compat,
    {eleveldb, 
        {git, "git://github.com/basho/eleveldb.git", {branch, "develop-3.0"}}
    },
    {hashtree, 
        {git, "git://github.com/martincox/hashtree.git", {branch, "master"}}
    },
    {dvvset, 
        {git, "git://github.com/ricardobcl/dotted-version-vectors.git", {branch, "master"}}
    }
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [cluster_metadata]}
]}.
